<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.PaymentDao">
    <insert id="create" parameterType="com.atguigu.entities.Payment" useGeneratedKeys="true" keyProperty="id">
        INSERT into payment(serial) values (#{payment});
    </insert>
    <select id="getPayment" parameterType="Long" resultMap="BaseResultMap">
      select * from  payment where id=#{id};
    </select>
    <resultMap id="BaseResultMap" type="com.atguigu.entities.Payment" >
        <id column="id" property="id" jdbcType="BIGINT" ></id>
        <result column="serial" property="serial" jdbcType="VARCHAR" ></result>
    </resultMap>
</mapper>